CONSUL_ADDRESS=chat-consul:8500
CONSUL_SCHEME=http
CONSUL_DATA_CENTER=dc1
CONSUL_TOKEN=

HTTP_PORT=8080

AUTH_ACCESS_PUBLIC_KEY=

REDIS_CONNECTION_URL=redis://:@localhost:6379/0
REDIS_POOL_SIZE=30
REDIS_DIAL_TIMEOUT_SECONDS=10
REDIS_READ_TIMEOUT_SECONDS=5
REDIS_WRITE_TIMEOUT_SECONDS=5
REDIS_IDLE_TIMEOUT_SECONDS=180
REDIS_MAX_IDLE_CONN_NUMBER=8
REDIS_MAX_ACTIVE_CONN_NUMBER=8