// CODE_GENERATOR: registry
package {{.PackageName}}

import (
	"go-socket/core/shared/config"
	"go-socket/core/delivery/http/handler"
	"go-socket/core/application/usecase"
)

func BuildRegistry(config *config.Config, usecase usecase.Usecase) map[string]routingConfig {
	return map[string]routingConfig{
{{- range .Entries}}
{{.}}
{{- end}}
	}
}
